# VS Code settings
.vscode/

# Build & output files
bin/
obj/

# User-specific files
*.suo
*.user
*.rsuser
*.sln.docstates

# Compiled files
*.dll
*.exe
*.pdb

# Logs & cache
*.log
*.cache

# Never store secret keys or sensitive data
_secrets.yml
.env

# Jekyll build output
_site/